body.dark {
  --light-color: #444343;
  --dark-color: white;
}
body.light {
  --light-color: #b5b5b5;
  --dark-color: black;
}
table {
  border-spacing: 0;
}

table thead,
table tr.header {
  background-color: #26515c;
}
body.light table thead,
body.light table tr.header {
  color: white;
}
table thead th:nth-child(1),
table tr.header td:nth-child(1) {
  border-top-left-radius: 0.5em;
}
table thead th:last-child,
table tr.header td:last-child {
  border-top-right-radius: 0.5em;
}

table td,
table th {
  padding: 4px 12px;
  border-top: 1px solid;
  border-top-color: var(--light-color);
  margin: 0;
}
